<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mad.p03.np2020.routine"
    xmlns:dist="http://schemas.android.com/apk/distribution">


    <dist:module dist:instant="true" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize|adjustPan">

        <activity android:name=".Card.CardActivity"
        android:theme="@style/AppTheme"/>

        <activity android:name=".Register.RegisterActivity" />

        <activity android:name=".LoginActivity"
        android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Home.Home"
                android:exported="true"/>

        <activity android:name=".models.PopUp"
            android:theme="@style/AppTheme.NotificationTheme">
        </activity>

        <activity android:name=".HabitActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".Settings"
                android:exported="true"/>

        <activity android:name=".MainActivity"/>

        <activity android:name=".HabitView"/>

        <activity android:name=".Task.TaskActivity"
            android:fitsSystemWindows="true"
            />

        <activity android:name=".HabitAddActivity" />

        <activity android:name=".HabitEditActivity" />

        <activity android:name=".HabitViewActivity" />

        <activity android:name=".HabitGroupActivity" />

        <activity android:name=".FocusActivity" />


        <activity android:name=".HabitReminderActivity" />


        <service
            android:name=".background.FCMSection"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <service android:name=".background.BoundService" android:stopWithTask="false" />

        <receiver android:enabled="true" android:name=".models.AlarmReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".models.CardNotification"/>


    </application>


</manifest>