<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mad.p03.np2020.routine">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <dist:module dist:instant="true" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"

        android:windowSoftInputMode="adjustResize|adjustPan">

        <activity android:name=".Calender.Calender"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            ></activity>
        <activity
            android:name=".Card.CardActivity"
            android:fitsSystemWindows="true"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Register.RegisterActivity" />
        <activity
            android:name=".LoginActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Home.Home"
            android:exported="true" />
        <activity
            android:name=".models.PopUp"
            android:theme="@style/AppTheme.NotificationTheme"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Habit.HabitActivity"
            android:launchMode="singleTask" />
        <activity
            android:screenOrientation="portrait"
            android:name=".Settings"
            android:exported="true" />
        <activity
            android:screenOrientation="portrait"
            android:name=".MainActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".Habit.HabitViewActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".Task.TaskActivity"
            android:fitsSystemWindows="true"
            android:launchMode="singleTask"
           />
        <activity
            android:screenOrientation="portrait"
            android:name=".Habit.HabitAddActivity" />

        <activity
            android:screenOrientation="portrait"
            android:name=".Habit.HabitEditActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".Habit.HabitGroupActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".Focus.FocusActivity"
            android:launchMode="singleTask" />
        <activity
            android:screenOrientation="portrait"
            android:name=".Habit.HabitReminderActivity" />

        <activity
            android:screenOrientation="portrait"
            android:name=".Profile.ProfileActivity"
            android:launchMode="singleTask"/>

        <activity
            android:screenOrientation="portrait"
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>


        <receiver
            android:name=".Habit.models.AlarmReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".models.CardNotification" />



        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <service
            android:name=".background.FCMSection"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".background.BoundService"
            android:stopWithTask="false" />
    </application>

</manifest>
